.container {
    /* display: flex;
    justify-content: space-between; */
    font-size: 20px;
    margin: 0px 20px 5px 20px;
    border-bottom: 2px solid #818285;
  }
  
  .left {
    display: flex;
    align-items: center;
  }
  
  .left * {
    margin-left: 10px;
    margin-right: 10px;
  }